<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Put Sinatra</title>
</head>
<body>
	<h2>Put Method Sinatra</h2>
	<form method="post" action="/">
    	<input  type="hidden" name="_method" value="put" />
    	<button type="submit">Coba PUT</button>
    </form>
</body>
</html>